In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import norm
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline  
import os
import statistics
from scipy.stats import zscore

In [3]:
train = pd.read_csv("C://Users//AMIT YADAV//Downloads//ENSEMBLE TECHNIQUES//dsedelhi//train.csv")

In [4]:
train.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0

In [5]:
test = pd.read_csv("C://Users//AMIT YADAV//Downloads//ENSEMBLE TECHNIQUES//dsedelhi//test.csv")

In [6]:
macro = pd.read_excel("C://Users//AMIT YADAV//Downloads//ENSEMBLE TECHNIQUES//dsedelhi//macro_economic.xlsx")

In [7]:
event = pd.read_csv("C://Users//AMIT YADAV//Downloads//ENSEMBLE TECHNIQUES//dsedelhi//events_holidays.csv")

In [8]:
samp = pd.read_csv("C://Users//AMIT YADAV//Downloads//ENSEMBLE TECHNIQUES//dsedelhi//sample_submission.csv")

In [847]:
macro.head(2)

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10

In [848]:
macro['yieldperharvested acre'].value_counts()

807    5
781    4
790    4
814    4
787    4
799    4
772    3
777    3
796    3
763    3
760    3
849    3
785    3
754    3
809    2
802    2
804    2
797    2
755    2
774    2
794    2
758    2
776    1
792    1
771    1
791    1
788    1
773    1
784    1
783    1
782    1
767    1
803    1
833    1
764    1
757    1
756    1
747    1
869    1
862    1
836    1
835    1
831    1
805    1
827    1
826    1
815    1
811    1
810    1
808    1
766    1
806    1
770    1
Name: yieldperharvested acre, dtype: int64

In [849]:
#macro['Exports'].value_counts()

In [851]:
#macro['AdvertisingExpenses (in Thousand Dollars)']

In [852]:
macro['Year-Month'].head()

0    2009 - Jan
1    2009 - Feb
2    2009 - Mar
3    2009 - Apr
4    2009 - May
Name: Year-Month, dtype: object

In [853]:
month=macro['Year-Month'].str.split('-',expand=True)
macro['Month']=month[1] #here month 1st column is renamed as Month

In [854]:
year=macro["Year-Month"].str.split('-',expand = True)
macro["Year"] = year[0]

In [855]:
#macro["Year"] = macro["Year-Month"].str.split('-',expand = True)[0]
#macro["Month"] = macro["Year-Month"].str.split('-',expand = True)[1]

In [856]:
macro['Month'].head()

0     Jan
1     Feb
2     Mar
3     Apr
4     May
Name: Month, dtype: object

In [857]:
macro["Year"].head()

0    2009
1    2009
2    2009
3    2009
4    2009
Name: Year, dtype: object

In [858]:
macro['Month']=macro.Month.replace(' Jan',1) #here we are replacing jan with 1
macro['Month']=macro.Month.replace(' Feb',2) #here we are replacing feb with 2
macro['Month']=macro.Month.replace(' Mar',3)  #so on
macro['Month']=macro.Month.replace(' Apr',4)
macro['Month']=macro.Month.replace(' May',5)
macro['Month']=macro.Month.replace(' Jun',6)
macro['Month']=macro.Month.replace(' Jul',7)
macro['Month']=macro.Month.replace(' Aug',8)
macro['Month']=macro.Month.replace(' Sep',9)
macro['Month']=macro.Month.replace(' Oct',10)
macro['Month']=macro.Month.replace(' Nov',11)
macro['Month']=macro.Month.replace(' Dec',12)

In [859]:
macro['Month'].head()

0    1
1    2
2    3
3    4
4    5
Name: Month, dtype: int64

In [860]:
macro.head(2)  #so new column called Month is added

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Month,Year
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,1,2009
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10,2,2009

In [861]:
#macro.drop("Year-Month",axis = 1,inplace =True)

In [862]:
macro.head(1)

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Month,Year
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.7,4.02,9.296,7.559,799,12.589,4.17,11.55,1,2009

In [863]:
#macro.isnull().sum()

In [864]:
macro['AdvertisingExpenses (in Thousand Dollars)'].value_counts()

?      85
221     1
150     1
201     1
137     1
200     1
248     1
214     1
165     1
116     1
183     1
208     1
Name: AdvertisingExpenses (in Thousand Dollars), dtype: int64

In [865]:
macro['AdvertisingExpenses (in Thousand Dollars)'].describe()

count     96
unique    12
top        ?
freq      85
Name: AdvertisingExpenses (in Thousand Dollars), dtype: object

In [866]:
macro["AdvertisingExpenses (in Thousand Dollars)"].replace(to_replace = "?",value = "186",inplace =True)

In [867]:
macro["AdvertisingExpenses (in Thousand Dollars)"]=list(np.int_(macro["AdvertisingExpenses (in Thousand Dollars)"]))

In [868]:
macro["AdvertisingExpenses (in Thousand Dollars)"].isnull().sum()

0

In [869]:
#macro["AdvertisingExpenses (in Thousand Dollars)"].describe()

In [870]:
#macro["Year"].describe()

In [871]:
#macro["Month"].describe()

In [872]:
#train["Year"].describe()

In [873]:
#train["Month"].describe()

In [874]:
#test["Year"].describe()

In [875]:
#test["Month"].describe()

In [876]:
macro["Year"]=list(np.int_(macro.Year))
macro["Month"]=list(np.int_(macro.Month))

train["Year"]=list(np.int_(train.Year))
train["Month"]=list(np.int_(train.Month))

test["Year"]=list(np.int_(test.Year))
test["Month"]=list(np.int_(test.Month))

In [877]:
#macro["Year"].describe()
#or
#np.dtype(macro["Year"])  #in order to check the datatype

In [878]:
#np.dtype(macro["Year"])

In [879]:
#np.dtype(macro["Month"])

In [880]:
#train["Year"].describe()

In [881]:
#np.dtype(train["Year"])

In [882]:
#merging with train data
#now merging train and macro data using inner join and joined through Month
#macro_train =pd.merge(macro,train,on='Month',how='inner') #here inner is inner join 

macro_train =pd.merge(macro,train) #so we have to merge directly without applying inner join

In [883]:
macro_train.head(2)

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),...,Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Month,Year,ProductCategory,Sales(In ThousandDollars)
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,...,9.296,7.559,799,12.589,4.17,11.55,1,2009,WomenClothing,1755.0
1,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,...,9.296,7.559,799,12.589,4.17,11.55,1,2009,MenClothing,524.0

In [884]:
macro_train.shape

(216, 22)

In [885]:
macro_test =pd.merge(macro,test)

In [886]:
macro_test.shape

(36, 22)

In [887]:
macro_test.drop(columns ="Sales(In ThousandDollars)",inplace = True)

In [888]:
macro_test.shape

(36, 21)

In [889]:
#macro_train.isnull().sum()

In [890]:
#macro_train["Sales(In ThousandDollars)"].describe()

In [891]:
macro_train["Sales(In ThousandDollars)"].fillna(value =macro_train["Sales(In ThousandDollars)"].mean(),inplace =True)

In [892]:
#macro_train["Sales(In ThousandDollars)"].isnull().sum()

In [893]:
#macro_train["AdvertisingExpenses (in Thousand Dollars)"].isnull().sum()

In [894]:
#macro_train.isnull().sum()

In [895]:
macro_test["AdvertisingExpenses (in Thousand Dollars)"]=pd.to_numeric(macro_test["AdvertisingExpenses (in Thousand Dollars)"])

In [896]:
#macro_test["AdvertisingExpenses (in Thousand Dollars)"].value_counts()

In [897]:
event = pd.read_csv("C://Users//AMIT YADAV//Downloads//ENSEMBLE TECHNIQUES//dsedelhi//events_holidays.csv")

In [898]:
event.head(1)

   Year MonthDate           Event      DayCategory
0  2009    Jan-01  New Year's Day  Federal Holiday

In [899]:
event.shape

(150, 4)

In [900]:
event1 = event.MonthDate.str.split("-",expand=True)

In [901]:
event["Month"] = event1[0]

In [902]:
event["Year-Month"] = event.Year.map(str)+ ' - '+event.Month

In [903]:
df= pd.DataFrame(event["Year-Month"].value_counts()).reset_index()

In [904]:
df["Year-Month"]=np.object_(df["Year-Month"])

In [905]:
np.dtype(df["Year-Month"])

dtype('O')

In [906]:
df=df.rename({'index': 'Year-Month', 'Year-Month': 'Days'}, axis=1)

In [907]:
event.drop(["Year","Month","MonthDate"],axis =1,inplace = True)

In [908]:
df.head()

   Year-Month Days
0  2010 - Dec    5
1  2015 - Dec    4
2  2011 - Dec    4
3  2016 - Dec    4
4  2016 - Nov    3

In [909]:
df.shape

(81, 2)

In [910]:
macro_train_event = pd.merge(macro_train,df,how='left')

In [911]:
macro_test_event = pd.merge(macro_test,df,how='left')

In [912]:
macro_train_event.shape

(216, 23)

In [913]:
macro_train_event.drop('Year-Month',axis=1,inplace=True)

In [914]:
macro_train_event.drop('PartyInPower',axis=1,inplace=True)

In [915]:
macro_train_event.drop('yieldperharvested acre',axis=1,inplace=True)

In [916]:
macro_train_event.shape

(216, 20)

In [917]:
macro_test_event.shape

(36, 22)

In [918]:
macro_test_event.drop('Year-Month',axis=1,inplace=True)

In [919]:
macro_test_event.shape

(36, 21)

In [920]:
macro_test_event.shape

(36, 21)

In [921]:
#applying one hot encoding 
ohe_macro_train_event=pd.get_dummies(macro_train_event)

In [922]:
ohe_macro_test_event=pd.get_dummies(macro_test_event)

In [923]:
#ohe_macro_train_event.head()

In [924]:
ohe_macro_train_event.shape

(216, 26)

In [925]:
ohe_macro_test_event.shape

(36, 25)

In [926]:
a=ohe_macro_train_event.drop('Sales(In ThousandDollars)',axis=1)

In [927]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [928]:
scaled_data=sc.fit_transform(a)

C:\Users\AMIT YADAV\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\AMIT YADAV\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [929]:
scaled_data1=pd.DataFrame(scaled_data,columns=a.columns)

In [930]:
scaled_data1.shape

(216, 25)

In [931]:
scaled_data1.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),...,Month,Year,ProductCategory_MenClothing,ProductCategory_OtherClothing,ProductCategory_WomenClothing,Days_1,Days_2,Days_3,Days_4,Days_5
0,-1.387184,-1.462736,-1.862204,-0.351845,-0.749672,1.744322,-1.538636,-3.308177,-1.085846,0.442175,...,-1.593255,-1.46385,-0.707107,-0.707107,1.414214,-0.641689,1.150035,-0.301511,-0.118678,-0.118678
1,-1.387184,-1.462736,-1.862204,-0.351845,-0.749672,1.744322,-1.538636,-3.308177,-1.085846,0.442175,...,-1.593255,-1.46385,1.414214,-0.707107,-0.707107,-0.641689,1.150035,-0.301511,-0.118678,-0.118678
2,-1.387184,-1.462736,-1.862204,-0.351845,-0.749672,1.744322,-1.538636,-3.308177,-1.085846,0.442175,...,-1.593255,-1.46385,-0.707107,1.414214,-0.707107,-0.641689,1.150035,-0.301511,-0.118678,-0.118678
3,-1.418525,-1.538083,-1.713338,0.048991,0.431926,0.854413,-1.325979,0.945193,-1.154167,-0.634144,...,-1.303572,-1.46385,-0.707107,-0.707107,1.414214,-0.641689,1.150035,-0.301511,-0.118678,-0.118678
4,-1.418525,-1.538083,-1.713338,0.048991,0.431926,0.854413,-1.325979,0.945193,-1.154167,-0.634144,...,-1.303572,-1.46385,1.414214,-0.707107,-0.707107,-0.641689,1.150035,-0.301511,-0.118678,-0.118678

In [932]:
scaled_test=pd.DataFrame(sc.fit_transform(ohe_macro_test_event),columns=ohe_macro_test_event.columns)

C:\Users\AMIT YADAV\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\AMIT YADAV\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [933]:
scaled_test.shape

(36, 25)

In [934]:
x=scaled_data1
y=ohe_macro_train_event['Sales(In ThousandDollars)']

In [935]:
#from sklearn.model_selection import train_test_split
#x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=100)

In [936]:
from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor(max_depth=6)
model=rf_reg.fit(x,y)
predictions=rf_reg.predict(scaled_test)

C:\Users\AMIT YADAV\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [937]:
samp = pd.read_csv("C://Users//AMIT YADAV//Downloads//ENSEMBLE TECHNIQUES//dsedelhi//sample_submission.csv")

In [938]:
sol = pd.DataFrame({"S.No.":samp["S.No."],"Sales":predictions})
sol.to_csv("output.csv",index=False)

In [939]:
cd

C:\Users\AMIT YADAV